AcqSeuillage\Devs\.vs\*
*.vsidx

*.db

*.db-shm

*.db-wal

*.opendb

AcqSeuillage/Devs/.vs/Devs/v17/

AcqSeuillage/Devs/libImage/x64/Debug/

AcqSeuillage/Devs/seuilAuto/bin/Debug/

*.vcxproj

*.cache

AcqSeuillage/Devs/seuilAuto/obj/Debug/seuilAuto.csproj.FileListAbsolute.txt

AcqSeuillage/Devs/seuilAuto/obj/Debug/
